<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HW_Supermart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VipShowServlet</display-name>
    <servlet-name>VipShowServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.VipShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VipShowServlet</servlet-name>
    <url-pattern>/VipShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditVipServlet</display-name>
    <servlet-name>EditVipServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.EditVipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVipServlet</servlet-name>
    <url-pattern>/EditVipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchVipServlet</display-name>
    <servlet-name>SearchVipServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.SearchVipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchVipServlet</servlet-name>
    <url-pattern>/SearchVipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveVipServlet</display-name>
    <servlet-name>RemoveVipServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.RemoveVipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveVipServlet</servlet-name>
    <url-pattern>/RemoveVipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVipServlet</display-name>
    <servlet-name>AddVipServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.AddVipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVipServlet</servlet-name>
    <url-pattern>/AddVipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoodServlet</display-name>
    <servlet-name>AddGoodServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.AddGoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodServlet</servlet-name>
    <url-pattern>/AddGoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGoodsRestockServlet</display-name>
    <servlet-name>ShowGoodsRestockServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.ShowGoodsRestockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsRestockServlet</servlet-name>
    <url-pattern>/ShowGoodsRestockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditGoodOnShelfServlet</display-name>
    <servlet-name>EditGoodOnShelfServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.EditGoodOnShelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditGoodOnShelfServlet</servlet-name>
    <url-pattern>/EditGoodOnShelfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchGoodStockServlet</display-name>
    <servlet-name>SearchGoodStockServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.SearchGoodStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGoodStockServlet</servlet-name>
    <url-pattern>/SearchGoodStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOnshelfServlet</display-name>
    <servlet-name>EditOnshelfServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.EditOnshelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOnshelfServlet</servlet-name>
    <url-pattern>/EditOnshelfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGoodsRestockRecordServlet</display-name>
    <servlet-name>ShowGoodsRestockRecordServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.ShowGoodsRestockRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsRestockRecordServlet</servlet-name>
    <url-pattern>/ShowGoodsRestockRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGoodsOnShelfServlet</display-name>
    <servlet-name>ShowGoodsOnShelfServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.ShowGoodsOnShelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsOnShelfServlet</servlet-name>
    <url-pattern>/ShowGoodsOnShelfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveGoodFromShelfServlet</display-name>
    <servlet-name>RemoveGoodFromShelfServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.RemoveGoodFromShelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveGoodFromShelfServlet</servlet-name>
    <url-pattern>/RemoveGoodFromShelfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGoodsOutShelfServlet</display-name>
    <servlet-name>ShowGoodsOutShelfServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.ShowGoodsOutShelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsOutShelfServlet</servlet-name>
    <url-pattern>/ShowGoodsOutShelfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchGoodsByDateServlet</display-name>
    <servlet-name>SearchGoodsByDateServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.SearchGoodsByDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGoodsByDateServlet</servlet-name>
    <url-pattern>/SearchGoodsByDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchGoodsByNameServlet</display-name>
    <servlet-name>searchGoodsByNameServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.searchGoodsByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchGoodsByNameServlet</servlet-name>
    <url-pattern>/searchGoodsByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGoodsForCashierServlet</display-name>
    <servlet-name>ShowGoodsForCashierServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.ShowGoodsForCashierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsForCashierServlet</servlet-name>
    <url-pattern>/ShowGoodsForCashierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JudgeCardNumberServlet</display-name>
    <servlet-name>JudgeCardNumberServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.JudgeCardNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudgeCardNumberServlet</servlet-name>
    <url-pattern>/JudgeCardNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayBillServlet</display-name>
    <servlet-name>PayBillServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.PayBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayBillServlet</servlet-name>
    <url-pattern>/PayBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSalesServlet</display-name>
    <servlet-name>ShowSalesServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.ShowSalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSalesServlet</servlet-name>
    <url-pattern>/ShowSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSalesDetailServlet</display-name>
    <servlet-name>SearchSalesDetailServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.SearchSalesDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSalesDetailServlet</servlet-name>
    <url-pattern>/SearchSalesDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSingleSaleServlet</display-name>
    <servlet-name>SearchSingleSaleServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.SearchSingleSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSingleSaleServlet</servlet-name>
    <url-pattern>/SearchSingleSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackGoodsServlet</display-name>
    <servlet-name>BackGoodsServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.BackGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackGoodsServlet</servlet-name>
    <url-pattern>/BackGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBackGoodsServlet</display-name>
    <servlet-name>ShowBackGoodsServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.ShowBackGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBackGoodsServlet</servlet-name>
    <url-pattern>/ShowBackGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSoldGoodsByDateServlet</display-name>
    <servlet-name>SearchSoldGoodsByDateServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.SearchSoldGoodsByDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSoldGoodsByDateServlet</servlet-name>
    <url-pattern>/SearchSoldGoodsByDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllUsersServlet</display-name>
    <servlet-name>ShowAllUsersServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.ShowAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllUsersServlet</servlet-name>
    <url-pattern>/ShowAllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserServlet</display-name>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/SearchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUserServlet</display-name>
    <servlet-name>RemoveUserServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.RemoveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserServlet</servlet-name>
    <url-pattern>/RemoveUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProvidersServlet</display-name>
    <servlet-name>ShowProvidersServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.ShowProvidersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProvidersServlet</servlet-name>
    <url-pattern>/ShowProvidersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProviderServlet</display-name>
    <servlet-name>SearchProviderServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.SearchProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProviderServlet</servlet-name>
    <url-pattern>/SearchProviderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProviderServlet</display-name>
    <servlet-name>EditProviderServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.EditProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProviderServlet</servlet-name>
    <url-pattern>/EditProviderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProviderByNameServlet</display-name>
    <servlet-name>SearchProviderByNameServlet</servlet-name>
    <servlet-class>hzyc.com.hw.servlet.SearchProviderByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProviderByNameServlet</servlet-name>
    <url-pattern>/SearchProviderByNameServlet</url-pattern>
  </servlet-mapping>
</web-app>